<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-01;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.245.96.4;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>